<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a User</title>
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>
    <div class="container">
    <h1>Update User</h1>
    <br>
    <% for(var i=0; i < toUpdate.length; i++) { %>

        
        <form class="form" action="/update/<%= toUpdate[i].id %>" method="post">
            <label for="name">First Name</label><br>
            <input type="text" id="first_name" name="first_name"><br>
            <label for="name">Last Name</label><br>
            <input type="text" id="last_name" name="last_name"><br>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email"><br>
            <input class="align" type="submit" value="Submit">
        </form>
        <% } %>     
    <br>
</div>
      
</body>
</html>