body {
    width: 100%; height: 100%; margin: 0px; padding: 0px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .75em;
    color: white;
}

.container {
    margin: auto;
    width: 50%;
    background-color: #0f4d92;
    padding: 10px 20px 20px 10px;
}

h1 {
    text-align: center;
}

td {
    padding: 9px 25px 9px 15px;
}

th {
    text-align: left;
    padding: 0 0 0 15px;
}

.delete {
    background-color: red;
    color: white;
    padding: 7px;
    font-weight: 600;
    box-shadow:         inset 0 0 3px #000000;
}

.edit {
    background-color: green;
    color: white;
    padding: 7px;
    font-weight: 600;
    box-shadow:         inset 0 0 3px #000000;
}

.add {
    background-color: #c4941d;
    color: white;
    padding: 7px;
    margin-left: 10px;
    font-weight: 600;
    box-shadow:         inset 0 0 3px #000000;
}

a {
    text-decoration: none;
}

.delete, .edit, .add {
    border-radius: 5px;
}

input {
    margin: 10px 0 10px 3px;
    padding: 5px 60px 5px 0px;
    border-radius: 5px;
}

.form {
    margin: auto;
    width: 40%;
}

.align {
    padding-left: 50px;
}